textarea {
	width: 100%;
}

input[type=submit] {
	margin-top: 10px;
}

.scroll-to-top {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	width: 2.75rem;
	height: 2.75rem;
	text-align: center;
	display: none;
	color: #fff;
	background: rgba(90,92,105,.5);
	line-height: 46px;
}

.topbar-divider {
	width: 0;
	border-right: 1px solid #e3e6f0;
	height: calc(4.375rem - 2rem);
	margin: auto 1rem
}

.card-header {
	background-color: #4e73df;
	border: 1px solid #4e73df;
	padding-top: .75rem;
	padding-bottom: .75rem;
	color: #fff;
}

.icon-circle {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center
}

.dropdown-item {
	display: block;
	width: 100%;
	padding: .25rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #3a3b45;
	text-align: inherit;
	white-space: wrap;
	background-color: transparent;
}

.text-gray-100 {
	color: #f8f9fc!important
}

.text-gray-200 {
	color: #eaecf4!important
}

.text-gray-300 {
	color: #dddfeb!important
}

.text-gray-400 {
	color: #d1d3e2!important
}

.text-gray-500 {
	color: #b7b9cc!important
}

.text-gray-600 {
	color: #858796!important
}

.text-gray-700 {
	color: #6e707e!important
}

.text-gray-800 {
	color: #5a5c69!important
}

.text-gray-900 {
	color: #3a3b45!important
}


.font-weight-bold {
	font-weight: 700 !important
}

footer.sticky-footer {
	padding: 2rem 0;
	flex-shrink: 0
}

footer.sticky-footer .copyright {
	line-height: 1;
	font-size: .8rem
}

.table {
	--bs-table-bg: disable;
}
table tr:hover {
	background-color: #b9b9bb;
}

.card-list {
	border-bottom: 1px solid #e3e6f0;
	white-space: wrap;
}

.dropdown-item:focus,.dropdown-item:hover {
	color: #2e2f37;
	text-decoration: none;
	background-color: #eaecf4;
}