<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <!-- Start of Topbar -->
    <!--        <div th:replace="~{left}"></div>-->
    <nav th:replace="~{navbar :: navbarFragment}"></nav>
    <!-- End of Topbar -->

    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 my-4">
            <h1 class="h3 mb-0 text-gray-800">카드 리스트</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        </div>


        <div class="row my-3">
            <div class="col-8">
                <a th:href="@{/card/create}" class="btn btn-primary">카드 등록하기</a>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <input type="text" id="search_kw" class="form-control" th:value="${kw}">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead class="table-secondary">
                <tr class="text-center">
                    <th>번호</th>
                    <th>제품명</th>
                    <th>제품코드</th>
                    <th>일련번호</th>
                    <th>캐비넷</th>
                    <th>호기</th>
                    <th>렉</th>
                    <th>슬롯</th>
                    <th>작성자</th>
                    <th>작성일시</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" th:each="card, loop : ${paging}">
                    <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
                    <td class="text-start">
                        <a th:href="@{|/card/list/${card.id}|}" th:text="${card.partName}"></a>
                    </td>
                    <td th:text="${card.getPartCode()}"></td>
                    <td th:text="${card.getSerialNumber()}"></td>
                    <td th:text="${card.getCompCabinet()}"></td>
                    <td th:text="${card.getCompLocation()}"></td>
                    <td th:text="${card.getCompRack()}"></td>
                    <td th:text="${card.getCompSlot()}"></td>
                    <td th:text="${card.getAuthor().getName()}"></td>
                    <td th:text="${#temporals.format(card.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                </tr>
                </tbody>
            </table>
            <!-- 페이징처리 시작 -->
            <div th:if="${!paging.isEmpty()}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                        <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                            <span>이전</span>
                        </a>
                    </li>
                    <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                        th:if="${page >= paging.number-5 and page <= paging.number+5}"
                        th:classappend="${page == paging.number} ? 'active'" class="page-item">
                        <a th:text="${page}" class="page-link" href="javascript:void(0)"
                           th:data-page="${page}"></a>
                    </li>
                    <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                        <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                            <span>다음</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 페이징처리 끝 -->
            <form th:action="@{/card/list}" method="get" id="searchForm">
                <input type="hidden" id="kw" name="kw" th:value="${kw}">
                <input type="hidden" id="page" name="page" th:value="${paging.number}">
            </form>
        </div>
    </div>
    <!-- End of Main Content -->


    <script layout:fragment="script" type='text/javascript'>
        const page_elements = document.getElementsByClassName("page-link");
        Array.from(page_elements).forEach(function (element) {
            element.addEventListener('click', function () {
                document.getElementById('page').value = this.dataset.page;
                document.getElementById('searchForm').submit();
            });
        });
        const btn_search = document.getElementById("btn_search");
        btn_search.addEventListener('click', function () {
            document.getElementById('kw').value = document.getElementById('search_kw').value;
            document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
            document.getElementById('searchForm').submit();
        });
    </script>
</div>
</html>