<table class="table my-4">
    <thead class="table-secondary">
    <tr class="text-center">
        <th>번호</th>
        <th>제품명</th>
        <th>제품코드</th>
        <th>일련번호</th>
        <th>캐비넷</th>
        <th>호기</th>
        <th>렉</th>
        <th>슬롯</th>
        <th>작성자</th>
        <th>작성일시</th>
        <th>테스트</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center" th:each="card, loop : ${paging}">
        <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
        <td class="text-start">
            <a th:href="@{|/card/list/${card.id}|}" th:text="${card.partName}"></a>
        </td>
        <td th:text="${card.partCode}"></td>
        <td th:text="${card.serialNumber}"></td>
        <td th:text="${card.compCabinet}"></td>
        <td th:text="${card.compLocation}"></td>
        <td th:text="${card.compRack}"></td>
        <td th:text="${card.compSlot}"></td>
        <td th:text="${card.author.username}"></td>
        <td th:text="${#temporals.format(card.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        <td><input type="checkbox" th:name="testing" th:value="${card.id}"
                   th:checked="${card.id == 1} ?  'checked'"
                   th:data-indexval="${loop.index}"
                   onclick="getCheckElm()"/></td>

    </tr>
    </tbody>
</table>
<!-- 페이징처리 시작 -->
<div th:if="${!paging.isEmpty()}">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
            <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                <span>이전</span>
            </a>
        </li>
        <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
            th:if="${page >= paging.number-5 and page <= paging.number+5}"
            th:classappend="${page == paging.number} ? 'active'" class="page-item">
            <a th:text="${page}" class="page-link" href="javascript:void(0)"
               th:data-page="${page}"></a>
        </li>
        <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
            <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                <span>다음</span>
            </a>
        </li>
    </ul>
</div>
<!-- 페이징처리 끝 -->