<html layout:decorate="~{layout}" >
<div layout:fragment="content" class="container my-3">
    <div class="container-xl px-4">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header justify-content-center">
                        <h3 class="fw-light my-2">사용자 등록</h3>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
                            <div th:replace="~{form_errors :: formErrorsFragment}"></div>
                            <div class="mb-3">
                                <label for="username" class="form-label">사용자ID</label>
                                <input type="text" th:field="*{username}" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">성명</label>
                                <input type="text" th:field="*{name}" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="userRole" class="form-label">권한</label>
                                <select th:field="*{userRole}" class="form-control" >
                                    <option th:each="userRoleValue : ${T(com.mysite.sbb.user.UserRole).values()}"
                                        th:value="${userRoleValue.name()}"
                                        th:text="${userRoleValue.name()}">
                                        val
                                    </option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">이메일</label>
                                <input type="email" th:field="*{email}" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="password1" class="form-label">비밀번호</label>
                                <input type="password" th:field="*{password1}" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="password2" class="form-label">비밀번호 확인</label>
                                <input type="password" th:field="*{password2}" class="form-control">
                            </div>
                            <a class="btn btn-secondary"  th:href="@{/}">취소</a>
                            <button type="submit" class="btn btn-primary ">회원가입</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>