<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->


    <div class="card my-3" style="max-width: 70%">
        <div class="card-header">
            <h4 th:text="|사용자 : ${siteUser.id}|"></h4>
        </div>
        <div class="row g-0">
            <div class="col-lg-3 mx-2 my-3">
                <img src="/images/img.png" alt="..." style="width: 12rem;">
            </div>
            <div class="col-lg-8">
                <div class="card-body mb-2">

                    <div class="card-text " th:text="|사용자ID : ${siteUser.username}|"></div>
                    <div class="card-text " th:text="|성명 : ${siteUser.name}|"></div>
                    <div class="card-text " th:text="|권한 : ${siteUser.userRole}|"></div>
                    <div class="card-text " th:if="${siteUser.email != null}" th:text="|이메일 : ${siteUser.email}|"></div>
                    <div class="card-text " th:text="${#temporals.format(siteUser.createDate, '등록일 : yyyy-MM-dd HH:mm')}"></div>
<!--                    <div class="d-flex ">-->
<!--                        <div class="badge bg-light text-dark p-2 text-start mt-4">-->
<!--                            <div class="mb-2">-->
<!--                                <span th:if="${siteUser.email != null}" th:text="${siteUser.email}"></span>-->
<!--                            </div>-->
<!--                            <div th:text="${#temporals.format(siteUser.createDate, 'yyyy-MM-dd HH:mm')}"></div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <form th:action="@{/user/modify/} + ${siteUser.id}" method="get">
                        <div class="mt-4">
                            <button type="submit" class="btn btn-primary">수정</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>


</html>